.body-class {
    background-color: #e9ccb2;
}
.header-class {
    text-align: center;
    background-color: #ffffff;
    color: #4e3cb6;
    border: 7px solid #5d5b5b
}
.nav {
    background-color: #ec2727;
    font-weight: bold;
}
.title-class {
    color: #83480d ;
}
.section-title-class {
    color: #73440e
}
.text-class {
    color:chocolate
}
.image-class {
    border: 10px solid #aa2020; 
}
.form-class {
    background-color: #5d5b5b;
    padding-left: 15px;    
}
.button-class {
    background-color: #ec2727;
}
.footer-class {
    background-color: #56d67d;
}
