.body-class {
    background-color: #ceccd9;
}
.header-class {
    background-color: #ffffff;
    color: #4e3cb6;
}
.nav {
    background-color: #ec2727;
    font-weight: bold;
}
.title-class {
    color: #23b918 ;
}
.section-title-class {
    color: #ffaac9
}
.text-class {
    color:chocolate
}
.image-class {
    border: 10px solid #aa2020; 
}
.form-class {
    background-color: #ec2727;
}
.button-class {
    background-color: #ec2727;
}
.footer-class {
    background-color: #56d67d;
}
